


@{
    ViewBag.Title = "Index";
}
@*<div class="container">*@
    <div class="row">
    <div class="col-md-2 st">

    </div>       
            <div class="col-md-8 ">
                <div class="col-md-3 mid">
                    <div class="hover01 column">
                        <figure>
                            <a href="~/User/Registration">
                                <div class="reg">
                                    <img src="~/Content/icon/reg.png" />                                   
                                    <p>User Registration</p>
                                </div>
                            </a>
                        </figure>
                    </div>
                </div>
                <div class="col-md-3 mid">
                    <div class="hover01 column">
                        <figure>
                            <a href="~/User/GenaralInfo">
                                <div class="general-info">
                                    <img src="~/Content/icon/gi.png" />
                                    <p>General Info</p>
                                </div>
                            </a>
                            </figure>
                      </div>
                </div>
                <div class="col-md-3 mid">
                    <div class="hover01 column">
                        <figure>
                            <a href="~/User/Education">
                                <div class="edu">
                                    <img src="~/Content/icon/edu.png" />
                                    <p>Education</p>
                                </div>
                            </a>
                        </figure>
                    </div>
                </div>

                <div class="col-md-3 mid">
                    <div class="hover01 column">
                        <figure>
                            <a href="~/User/Training">
                                <div class="tri">
                                    <img src="~/Content/icon/training-icon.png" />
                                    <p>Training</p>
                                </div>
                            </a>
                        </figure>
                    </div>
                </div>

                <div class="col-md-3 mid">
                    <div class="hover01 column">
                        <figure>
                            <a href="~/User/Publication">
                                <div class="pub">
                                    <img src="~/Content/icon/Publication.png" />

                                    <p>Publication </p>
                                </div>
                            </a>
                        </figure>
                    </div>
                </div>

                <div class="col-md-3 mid">
                    <div class="hover01 column">
                        <figure>
                            <a href="~/User/Award">
                                <div class="aub">
                                    <img src="~/Content/icon/Award.png" />
                                    <p>Honors & Awards </p>
                                </div>
                            </a>
                        </figure>
                    </div>
                </div>

                <div class="col-md-3 mid">
                    <div class="hover01 column">
                        <figure>
                            <a href="~/User/Posting">
                                <div class="service">
                                    <img src="~/Content/icon/posting.png" />
                                    <p>Posting</p>
                                </div>
                            </a>
                        </figure>
                    </div>
                </div>

                <div class="col-md-3 mid">
                    <div class="hover01 column">
                        <figure>
                            <a href="~/User/ChildrenInfo">
                                <div class="other">
                                    <img src="~/Content/icon/chil.png" />
                                    <p>Children</p>
                                </div>
                            </a>
                        </figure>
                    </div>
                </div>
                <div class="col-md-4 mid">
                    <div class="hover01 column">
                        <figure>
                            <a href="~/User/PromotionalParticular">
                                <div class="pp">
                                    <img src="~/Content/icon/pp.png" />
                                    <p>Promotional Particular</p>
                                </div>
                            </a>
                        </figure>
                    </div>
                </div>
                <div class="col-md-4 mid">
                    <div class="hover01 column">
                        <figure>
                            <a href="~/User/LanguageInfo">
                                <div class="lan">
                                    <img src="~/Content/icon/lan.png" />
                                    <p>Language</p>
                                </div>
                            </a>
                        </figure>
                    </div>
                </div>
                <div class="col-md-4 mid">
                    <div class="hover01 column">
                        <figure>
                            <a href="~/User/ForeignTravle">
                                <div class="ft">
                                    <img src="~/Content/icon/ft1.png" />
                                    <p>Foreign Travel</p>
                                </div>
                            </a>
                        </figure>
                    </div>
                </div>
                    </div>                   
        <div class="col-md-2 last">

        </div>
</div>
@*</div>*@