
/*@font-face {
    font-family: reckoner;
    src: url(../fonts/Reckoner.ttf);
}*/
.userimg
{
    height:20px;
    width:20px;
    border:2px solid gray;
    position:absolute;
}
.menub
{
	position:relative;
	height: 80px;
}

#main-nav ul
{
	list-style:none;
}

#cd-hamburger-menu a
{
	background-image:url("img/toggle3.png");
}
/*logo and nav*/
 #main-nav ul a 
 {
	font-family: reckoner;
	font-size: 15px;
	list-style:none;
 }

  #main-nav ul a.current {
    box-shadow: none;
    background: #435779;
    color: #FFF;
	
  }

.no-touch #main-nav ul a
{
    color:white;
}

  .no-touch #main-nav ul a:hover {
    background-image:url("Image/home/button1.jpg");
    color: #C89E9E;
	text-decoration:none;
	border:none;
  }

  #main-nav ul>li>a:focus
  {
	   background-image:url("Image/home/button1.jpg");
		color: #FFF;
		text-decoration:none;
		border:none;
  }

  #logo img
  {
	  width:328px;
	  height:auto;
      margin-top: 0px;
  }
  
  .st
  {
      height:auto;
      width:100%;
      
  }
    .mid
  {
      height:auto;
      width:100%;
      padding-top:5px;

  }
    .mid p
    {
        color:white;
        font-size:15px;  
        text-decoration:none; 
        text-align: left;
        padding-left:10px;
           
    }
    .mid p:hover
    {
        color:rgba(188, 232, 241, 1);
        text-decoration:none;
    }
      .last
  {
      height:auto;
      width:100%;
     
  }
      .row
      {
          margin:0 0 0 0;
          padding:0 0 0 0;
      }


         .column {
	margin: 15px 7px 0;
	padding: 0;
}
/*.column:last-child {
	padding-bottom: 60px;
}*/
.column::after {
	content: '';
	clear: both;
	display: block;
}
.column div {
	position: relative;
	float: left;
	width: 100%;
	height: 130px;
	margin: 0 0 0 25px;
	padding: 0;
}

.column div:first-child {
	margin-left: 0;
}
figure {
	width: 100%;
	height: 130px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}

/* Zoom In #1 */
.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

      .general-info
      {
          height:180px;
          width:92%;
          background-color:rgb(99, 109, 161);
          text-align:center;
          padding-top: 15px;
         

      }
      .mid img
      {
          padding-top:18px;
          height:97px;
      }
      .edu
      {
          height:180px;
          width:92%;
          background-color:rgb(99, 109, 161);
          text-align:center;
          padding-top: 15px;
      }
      .tri
      {
          height:180px;
          width:92%;
          background-color:rgb(99, 109, 161);
          text-align:center;
          padding-top: 15px;
      }

            .pub
      {
          height:180px;
          width:92%;
          background-color:rgb(99, 109, 161);
          text-align:center;
          padding-top: 15px;
      }
                  .aub
      {
          height:180px;
          width:92%;
          background-color:rgb(99, 109, 161);
          text-align:center;
          padding-top: 15px;
      }
      .service
      {
          height:180px;
          width:92%;
          background-color:rgb(99, 109, 161);
          text-align:center;
          padding-top: 15px;
      }
      .other
      {
          height:180px;
          width:92%;
          background-color:rgb(99, 109, 161);
          text-align:center;
          padding-top: 15px;
      }

      .con-header
      {
          font-size:30px;
          color:white;
          padding-left:20px;
          margin-top:10px;
      }

      .under
      {
          height:5px;
          width:80%;
          background-color:gray;
      }
      .formbody
      {
          margin-top:50px;
          margin-bottom:100px;
          padding-bottom:100px;
      }

       .footer
      {
          margin-top:20px;
          height:30px;
          width:100%;
          background-color:gray;
           position:fixed;
           left:0px;
           bottom:0px;
        }
      

      .footer p
      {
          text-align:center;
         padding-top:5px;
          color: white;
      }

      .footer p:hover
      {
          text-decoration:none;
          color:#dafbff;
      }

     .footer a:hover
      {
          text-decoration:none;
          color:#dafbff;
      }
      .awardcss
      {
          padding-top:0px;
          padding-bottom:35px;
      }

      .awardcss label
      {
          text-align:left;

      }

      .inputf
      {
          text-align:center;
          padding-left:0px;
          padding-left:50px;
      }


       /*Login */


       .loginun
       {
           width:100%;
           height: 38px;
           border-radius: 6px;
           background-color:white;
           color:black;
           padding-top:5px;
           padding-bottom:5px;
           margin-top:5px;
           margin-bottom:5px;
           padding-left:30px;
       }
      
      .logintemplate
      {
          width:100%;
          height:auto;          
          color:white;
      }
      
      *,:after,:before{box-sizing:border-box}
        .clearfix:after,.clearfix:before{content:'';display:table}
        .clearfix:after{clear:both;display:block}
        a{color:inherit;text-decoration:none}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:500px;
	position:relative;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    margin-top: 75px;
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 35px;
	background:rgba(94, 96, 103, 0.9);
    text-align: center;
}

.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	-webkit-transform:rotateY(180deg);
	        transform:rotateY(180deg);
	-webkit-backface-visibility:hidden;
	        backface-visibility:hidden;
	-webkit-transition:all .4s linear;
	transition:all .4s linear;
}

.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}

.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
    margin-left :65px
}
.login-form{
	min-height:345px;
	position:relative;
	-webkit-perspective:1000px;
	        perspective:1000px;
	-webkit-transform-style:preserve-3d;
	        transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:10px 20px;
	border-radius:8px;
	background:rgba(255,255,255,.1);
    margin-top: 30px;
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#097A46;
}

.login-form .group .button:hover
{
	background:#0B663C;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	-webkit-transition:all .2s ease-in-out 0s;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:black;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	-webkit-transform:scale(1) rotate(45deg);
	        transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	-webkit-transform:scale(1) rotate(-45deg);
	        transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	-webkit-transform:rotate(0);
	        transform:rotate(0);
            margin-left: 35px;
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	-webkit-transform:rotate(0);
	        transform:rotate(0);
}


.forgetp a:hover
{
    color:#daaeae;
    text-decoration:none;
}
.forgetp a
{
    color:white;
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}
.roll option
{
    color:black;
}
select
{
    background-color:black;
}
      

.activity
{
    height:auto;
    width:100%;
    background-color:white;
    position:relative;
    
  
    
}

.activity a:hover
{
    text-decoration:none;
}
.user-pic
{

    display:inline-block;
    margin-left:64%;
}

.user-pic img
{
    height:40px;
    width:55px;
    border-radius:50%;
    border:2px solid gray;

}

.user-id
{
    font-size:20px;
    margin-top:8px;
}
.username
{
    height: 25px;
    width: 146px;
    background-color: gray;
    margin-top: 8px;
    border-radius: 4px;
    padding: 2px;
    text-align: center;
    color: white;
    font-weight: bold;
}
.user-logout .btn-danger
{
margin-top:2%;
}

.user-logout
{
    margin-top: 8px;
    margin-left: 5px;
}


.adminlogout
{
background-color: #c50a04;
padding-left: 0;
text-align: center;
padding-top: 5px;
border-radius: 5px;
padding-bottom: 5px;
padding-left: 7px;
padding-right: 7px;
}

.adminlogout:hover
{
background-color: #a81914;
color:white;
}

.user-logout a
{
    color:white;
    text-decoration:none;
    font-weight:bold;
}
.user-logout a:hover
{
   
    text-decoration:none;
    font-weight:bold;
   
}
a:hover
{
    text-decoration: none;
}
.resume
{
background-color: #149fc5;
margin-left: 10px;
height: 25px;
width: 150px;
margin-top: 8px;
border-radius: 4px;
text-align: center;
padding-top: 2px;
color: white;
text-decoration: none;
font-size: 15px;
font-weight: bold;
    
}
.resume a
{
    color:white;
    font-weight:bold;
    
}
.resume a:hover
{
      text-decoration:none;

    
}
.resume:hover
{
background-color: #09c2f5;
text-decoration:none;

    
}

.resumebody
{
    height:auto;
    width:100%;
    margin-top:5%;
}

.resumephoto
{
height: 197px;
width: 81%;
border: 2px solid #7a7671;
margin-top: 7px;
margin-left: 31px;
}

.resumehead
{
height: 215px;
width: 100%;
border: 2px solid #9c761a;
margin-top: 15px;
}

.resumehead-text
{
margin-left: 30px;
padding-top: 20px;
}

.col-md-9 .badge
{
    height: 28px;
    width: 350px;
    font-size: 15px;
    padding-top: 5px;
    text-align: left;
    padding-left: 7px;
    margin-left: 7px;
}

.resumebody-text
{
    margin-left:40px;
}
.resumebody-text h4
{
    padding-top: 5px;
}

.con-header a
{
font-size: 18px;
margin-left: 36%;
}

.sp
{
    color:blue;
   
}

.reg
{
          height:180px;
          width:92%;
          text-align:center;
          padding-top: 15px;
          background-color:rgb(99, 109, 161);
}

.awar
{
          height:180px;
          width:92%;
          text-align:center;
          padding-top: 15px;
          background-color:rgb(99, 109, 161);
}

.pp
      {
          height:180px;
          width:92%;
          background-color:rgb(99, 109, 161);
          text-align:center;
          padding-top: 15px;
      }
.ft
      {
          height:180px;
          width:92%;
          background-color:rgb(99, 109, 161);
          text-align:center;
          padding-top: 15px;
      }
.lan
      {
          height:180px;
          width:92%;
          background-color:rgb(99, 109, 161);
          text-align:center;
          padding-top: 15px;
      }
       
.usdetails
{
    position:absolute;
}
.foot
{
    margin-top:77px;
    position:relative;
    text-align:center;
    width:100%;
    height:auto;
    background-color:gray;
}
.foot p
      {
          text-align:center;
         padding-top:5px;
          color: white;
      }

.foot a:hover
      {
          text-align:center;
          color: white;
          text-decoration:none;
      }


.drl
{
    margin-top:5px;
    margin-bottom:5px;
}

.lbl
{
    margin-top:15px;
    margin-bottom:5px;
}


.generate
{
    margin-top:5px;
    margin-left:5px;
    margin-right:5px;

}
.generate input
{
    height: 35px;
    width: 165px;
    background-color: #3198c0;
    color: #fff;
    font-weight: bold;
    border: none;
}

.generate input:hover
{
    background-color:#0c5471;
}
.form-group label
{
    color:#fff;
}

.confirmmsgdesign
{
    text-align:center;
    padding-top:50px;

}
.cmbtn a
{
    text-decoration: none;
    text-align:center;

}

.cmbtn a:hover
{
    text-decoration: none;
}
.returnbtn
{


    width: 100px;
    height: 55px;
    background-color: #2eb7f6;
    text-align: center;
    margin-top: 8%;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    padding-top: 5px;
    font-size: 18px;
    text-decoration: none;
    padding-bottom: 9px;
    padding-left: 4px;
    padding-right: 4px;
}

.returnbtn a
{
    width: 100px;
    height: 34px;
    text-align: center;
    color:white;
    text-decoration: none;
}

.returnbtn a:hover
{
    width: 100px;
    height: 34px;
    text-align: center;
    color:white;
    text-decoration: none;
}

.returnbtn:hover
{
    width: 100px;
    height: 34px;
    background-color: #0e9de0;
    text-align: center;
    color:white;
    text-decoration: none;
}


.homebtn
{

    width: 100px;
    height: 55px;
    background-color: #2eb7f6;
    text-align: center;
    margin-top: 8%;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    padding-top: 5px;
    font-size: 18px;
    text-decoration: none;
    padding-bottom: 9px;
    padding-left: 4px;
    padding-right: 4px;
}

.homebtn a
{
    width: 100px;
    height: 34px;
    text-align: center;
    color:white;
    text-decoration: none;
}

.homebtn a:hover
{
    width: 100px;
    height: 34px;
    text-align: center;
    color:white;
    text-decoration: none;
}

.homebtn:hover
{
    width: 100px;
    height: 34px;
    background-color: #0e9de0;
    text-align: center;
    color:white;
    text-decoration: none;
}


.inputfil
{
    width: 97%;
    height: 35px;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 30px;
    margin-right: 5px;
    margin-left: 5px;
}




/*eddit css*/
.deletea
{
    background-color: #8c3a3a;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: bold;
    color: #FFF;
    border-radius: 3px;
}

.deletea:hover
{
    background-color:#995252;
}

.edita
{
    background-color: #407853;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: bold;
    color: #FFF;
    border-radius: 3px;
}

.edita:hover
{
   background-color:#54996C;
   text-decoration:none;
}


.details
{
    background-color: #37356c;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: bold;
    color: #FFF;
    border-radius: 3px;
}


.details:hover
{
    background-color:#444286;
    text-decoration:none;
}


td a:hover
{
    text-decoration:none;
    color:#FFF;
}



.bactolist
{
    background-color: #B78955;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: bold;
    color: #FFF;
    border-radius: 3px;
    text-decoration:none
}


.bactolist:hover
{
    text-decoration:none;
}

/*end edit css*/

.error
{
    text-align:center;
}
.error p
{
    color: #810000;
    font-weight: bold;
    font-size: 18px;

}