@model IEnumerable<Object>
@{
    ViewBag.Title = "Resume";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<MinistryOfLand.Models.GeneralInfo> generalinfo = Model.ToList()[0] as List<MinistryOfLand.Models.GeneralInfo>;
    List<MinistryOfLand.Models.ForeignTravle> ft = Model.ToList()[1] as List<MinistryOfLand.Models.ForeignTravle>;
    
    
}

<div class="row">
    <div class="col-md-2">

    </div>

    <div class="col-md-8">
        <div class="resumehead">
            @*start resume header*@
            <div class="col-md-9">
                <div class="resumehead-text">
                    <h2>Chironjit dutta</h2>
                    <p>01717-141415</p>
                    <p>chironjit420@rocketmail.com</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="resumephoto">
                    <img src="~/Content/Image/baby.jpg" class="img-thumbnail" width="100%" height="230" />
                </div>
            </div>
        </div>  @*End resume header*@

        <div class="con-header">
            @*start general information*@
            General information
            <a href="#">Request Edit</a>
        </div>
        <div class="under">

        </div>
        <div class="resumebody">
            <div class="col-md-3">
                <div class="resumebody-text">
                    <h4>Name</h4>
                </div>
            </div>
            <div class="col-md-9">
                <h4>:<span class="badge">Name</span></h4>
            </div>

            <div class="col-md-3">
                <div class="resumebody-text">
                    <h4>Father's Name</h4>
                </div>
            </div>
            <div class="col-md-9">
                <h4>:<span class="badge">Name</span></h4>
            </div>
            <div class="col-md-3">
                <div class="resumebody-text">
                    <h4>Mother Name</h4>
                </div>
            </div>
            <div class="col-md-9">
                <h4>:<span class="badge">Name</span></h4>
            </div>

            <div class="col-md-3">
                <div class="resumebody-text">
                    <h4>Home District </h4>
                </div>
            </div>
            <div class="col-md-9">
                <h4>:<span class="badge">Name</span></h4>
            </div>
            <div class="col-md-3">
                <div class="resumebody-text">
                    <h4>Date of Broth </h4>
                </div>
            </div>
            <div class="col-md-9">
                <h4>:<span class="badge">Name</span></h4>
            </div>

            <div class="col-md-3">
                <div class="resumebody-text">
                    <h4>Rank</h4>
                </div>
            </div>
            <div class="col-md-9">
                <h4>:<span class="badge">Name</span></h4>
            </div>
            <div class="col-md-3">
                <div class="resumebody-text">
                    <h4>Position</h4>
                </div>
            </div>
            <div class="col-md-9">
                <h4>:<span class="badge">Name</span></h4>
            </div>

            <div class="col-md-3">
                <div class="resumebody-text">
                    <h4>Location </h4>
                </div>
            </div>
            <div class="col-md-9">
                <h4>:<span class="badge">Name</span></h4>
            </div>
            <div class="col-md-3">
                <div class="resumebody-text">
                    <h4>Cadre</h4>
                </div>
            </div>
            <div class="col-md-9">
                <h4>:<span class="badge">Name</span></h4>
            </div>

            <div class="col-md-3">
                <div class="resumebody-text">
                    <h4>Cadre date </h4>
                </div>
            </div>
            <div class="col-md-9">
                <h4>:<span class="badge">Name</span></h4>
            </div>
            <div class="col-md-3">
                <div class="resumebody-text">
                    <h4>Sex</h4>
                </div>
            </div>
            <div class="col-md-9">
                <h4>:<span class="badge">Name</span></h4>
            </div>

            <div class="col-md-3">
                <div class="resumebody-text">
                    <h4>Marital status </h4>
                </div>
            </div>
            <div class="col-md-9">
                <h4>:<span class="badge">Name</span></h4>
            </div>
            <div class="col-md-3">
                <div class="resumebody-text">
                    <h4>LPR Date</h4>
                </div>
            </div>
            <div class="col-md-9">
                <h4>:<span class="badge">Name</span></h4>
            </div>

            <div class="col-md-3">
                <div class="resumebody-text">
                    <h4>order/Join Date</h4>
                </div>
            </div>
            <div class="col-md-9">
                <h4>:<span class="badge">Name</span></h4>
            </div>
            <div class="col-md-3">
                <div class="resumebody-text">
                    <h4>Attend to M/O land</h4>
                </div>
            </div>
            <div class="col-md-9">
                <h4>:<span class="badge">Name</span></h4>
            </div>

            <div class="col-md-3">
                <div class="resumebody-text">
                    <h4>Batch </h4>
                </div>
            </div>
            <div class="col-md-9">
                <h4>:<span class="badge">Name</span></h4>
            </div>
            <div class="col-md-3">
                <div class="resumebody-text">
                    <h4>Conformation</h4>
                </div>
            </div>
            <div class="col-md-9">
                <h4>:<span class="badge">Name</span></h4>
            </div>

            <div class="col-md-3">
                <div class="resumebody-text">
                    <h4>Religion</h4>
                </div>
            </div>
            <div class="col-md-9">
                <h4>:<span class="badge">Name</span></h4>
            </div>
        </div> @*end general information*@

        <div class="con-header">
            @*start Spouse Information*@
        Spouse Information
        <a href="#">Request Edit</a>
    </div>
    <div class="under">

    </div>
    <div class="resumebody">
        <div class="col-md-3">
            <div class="resumebody-text">
                <h4>Name</h4>
            </div>
        </div>
        <div class="col-md-9">
            <h4>:<span class="badge">Name</span></h4>
        </div>

        <div class="col-md-3">
            <div class="resumebody-text">
                <h4>Occupation</h4>
            </div>
        </div>
        <div class="col-md-9">
            <h4>:<span class="badge">Name</span></h4>
        </div>
        <div class="col-md-3">
            <div class="resumebody-text">
                <h4>Designation</h4>
            </div>
        </div>
        <div class="col-md-9">
            <h4>:<span class="badge">Name</span></h4>
        </div>

        <div class="col-md-3">
            <div class="resumebody-text">
                <h4>Home District </h4>
            </div>
        </div>
        <div class="col-md-9">
            <h4>:<span class="badge">Name</span></h4>
        </div>
        <div class="col-md-3">
            <div class="resumebody-text">
                <h4>Organization </h4>
            </div>
        </div>
        <div class="col-md-9">
            <h4>:<span class="badge">Name</span></h4>
        </div>

        <div class="col-md-3">
            <div class="resumebody-text">
                <h4>Location</h4>
            </div>
        </div>
        <div class="col-md-9">
            <h4>:<span class="badge">Name</span></h4>
        </div>
    </div> @*end Spouse Information*@

    <div class="con-header">
        @*start Permanent Address *@
    Permanent Address
    <a href="#">Request Edit</a>
</div>
<div class="under">

</div>
<div class="resumebody">
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Village/House</h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>

    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Post office</h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Police station </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>

    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>District </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Telephone  </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
</div> @*end Permanent Address *@

<div class="con-header">
    @*start Present Address *@
    Present Address
    <a href="#">Request Edit</a>
</div>
<div class="under">

</div>
<div class="resumebody">
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Village/House</h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>

    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Post office</h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Police station </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>

    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>District </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Telephone  </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
</div> @*end Present Address *@

<div class="con-header">
    @*start Children Information *@
    Children Information
    <a href="#">Request Edit</a>
</div>
<div class="under">

</div>
<div class="resumebody">
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Name</h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>

    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Date Of birthth</h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Sex </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
</div> @*end Children Information*@

<div class="con-header">
    @*start Office’s language Info  *@
            Office’s language Info
<a href="#">Request Edit</a>
</div>
<div class="under">

</div>
<div class="resumebody">
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Language </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>

    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Read </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Unit  </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>

    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>speak   </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
</div> @*end Office’s language Info  *@

<div class="con-header">
    @*start Educational Qualification   *@
    Educational Qualification
    <a href="#">Request Edit</a>
</div>
<div class="under">

</div>
<div class="resumebody">
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Name of institute  </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>

    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Principal Subject  </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Degree  </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>

    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Passing Year   </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Result  </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>CGPA/GPA </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
</div> @*end Educational Qualification  *@

<div class="con-header">
    @*start Training information   *@
    Training information
    <a href="#">Request Edit</a>
</div>
<div class="under">

</div>
<div class="resumebody">
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Course </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>

    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Title</h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Institute  </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>

    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Grade</h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Position</h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Country </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
</div> @*end Training information   *@

<div class="con-header">
    @*start Travel *@
    Office’s language Info
    <a href="#">Request Edit</a>
</div>
<div class="under">

</div>
<div class="resumebody">
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Country</h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>

    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Purpose </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>From  </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>

    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>To</h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
</div> @*end Travel *@

<div class="con-header">
    @*start Posting Address  *@
            Posting Address
<a href="#">Request Edit</a>
</div>
<div class="under">

</div>
<div class="resumebody">
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Post</h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>

    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Organization </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Country </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>

    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>From </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>To</h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
</div> @*End Posting Address *@

<div class="con-header">
    @*start Publication  *@
            Publication
<a href="#">Request Edit</a>
</div>
<div class="under">

</div>
<div class="resumebody">
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Books </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>

    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Periodicals </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Monograph  </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>

    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>journal</h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Description </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Date </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
</div> @*end Training information   *@

<div class="con-header">
    @*start Honors & Award  *@
    Honors & Award
    <a href="#">Request Edit</a>
</div>
<div class="under">

</div>
<div class="resumebody">
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Title of award</h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>

    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Ground</h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Date </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
</div> @*end Honors & Award *@

<div class="con-header">
    @*start Other Services  *@
    Other Services
    <a href="#">Request Edit</a>
</div>
<div class="under">

</div>
<div class="resumebody">
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Name Of Employee </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>

    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Address </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Type Of Service</h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>

    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Position</h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>From </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>To</h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
</div> @*end Other Services *@

<div class="con-header">
    @*start Service History 	 *@
            Service History
<a href="#">Request Edit</a>
</div>
<div class="under">

</div>
<div class="resumebody">
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Govt Service Date </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>

    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Gazette Date  </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Senior Date </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>

    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Encaderment </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Cadre BCS (Administration) </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
</div> @*end Service History*@

<div class="con-header">
    @*start Promotional Particular *@
    Promotional Particular
    <a href="#">Request Edit</a>
</div>
<div class="under">

</div>
<div class="resumebody">
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Rank</h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>

    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Promotion </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>G.O Date</h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>

    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Natural of Promotion</h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Pay Scale </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
</div> @*end Promotional Particular *@

<div class="con-header">
    @*start Posting Records 	 *@
    Posting Records
    <a href="#">Request Edit</a>
</div>
<div class="under">

</div>
<div class="resumebody">
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Post </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>

    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Thana/Organization</h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>District/Location </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>

    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>From</h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>To</h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
    <div class="col-md-3">
        <div class="resumebody-text">
            <h4>Pay Scale </h4>
        </div>
    </div>
    <div class="col-md-9">
        <h4>:<span class="badge">Name</span></h4>
    </div>
</div> @*end Posting Records*@
</div> @*end col-md-8*@

<div class="col-md-2">

</div>
</div>


